In [2]:
print("hello")

hello

In [21]:
nn=input()
print("hello",nn,"hello are you")
print(f"hello,{nn},how are you")

hello krishna hello are you
hello,krishna,how are you

In [22]:
def greet(name):
    return f"hello,{name}"
print(greet("abc"))

hello,abc

In [26]:
def add(a,b):
    return a+b
def div(a,b):
    c=a/b
    return c
result=add(5,3)
print("5+3=",result)
print(div(10,1))

5+3= 8
10.0

In [23]:
import math 
print("square root of 36 is",math.sqrt(36))
print("the value of pi is",math.pi)

square root of 36 is 6.0
the value of pi is 3.141592653589793

In [24]:
a=[5,6,4,5]
print(sum(a))
print(type(a))

20
<class 'list'>

In [25]:
dict={"banana":1,"mango":5,"licth":45}
for aa,bb in dict.items():
    print(aa)
    print(bb)
print(type(dict))

banana
1
mango
5
licth
45
<class 'dict'>

In [26]:
def sum_all(*args):
    return sum(args)
print("sum of 1,2,3,4,5 is=",sum_all(1,2,3,5,45))

sum of 1,2,3,4,5 is= 56

In [20]:
def geree_all(**kwargs):
    for name,greeting in kwargs.items():
        print(f"{name},{greeting}")
geree_all(ram='hello',shyam='hi',hari='namaste')

ram,hello
shyam,hi
hari,namaste

In [27]:
sqaure=lambda x:x**2
print("sqaure root is",sqaure(5))

sqaure root is 25

In [49]:
def divide(a,b):
    try:
        return a/b
    except ZeroDivisionError:
        return"cannot divide by zero"
    except Exception as e:
     return f"error obatained as\n{e}"


print(divide(10,2))
print(divide(0,"a"))

5.0
error obatained as
unsupported operand type(s) for /: 'int' and 'str'

In [57]:
fruits=['apple','banana','cherry']
print("list of fruits is",fruits)
#accesing elements
print("fruit",fruits[0])
fruits.append('mango')
print(fruits)
#tuple
cordinates=(10.2,3.20)
print("tuple is",cordinates)

list of fruits is ['apple', 'banana', 'cherry']
fruit apple
['apple', 'banana', 'cherry', 'mango']
tuple is (10.2, 3.2)

In [58]:
#dictorinaries
student={"name":"jagadish","age":22,"major":"computerscience"}
print('the sictorinaries value is',student)

the sictorinaries value is {'name': 'jagadish', 'age': 22, 'major': 'computerscience'}

In [59]:
print("students name",student["name"])

students name jagadish

In [29]:
#sets
unique_numbers={1,2,3,4,5,2}
print("the elements in the set is",unique_numbers)
tesp_list=[]
for i in range(10,0,-2):
    sq=i**2
    tesp_list.append(sq)
print("the updated list is",tesp_list)

the elements in the set is {1, 2, 3, 4, 5}
the updated list is [100, 64, 36, 16, 4]

In [1]:
square=[i**2  for i in range(10)]
print("list of square is:",sqaure)

NameError: name 'sqaure' is not defined

In [85]:
square_dict={}
for i  in range(10):
    sq=i**2
    square_dict.update({i:sq})
print("the updated library is",square_dict)

the updated library is {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [89]:
square_dictt=[i**2 for i in range(10)]
print("list of square is:",square_dictt)

list of square is: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
#program to take 5 input as name age and phone number save as a dictorinaries and print the list of name search use exception handiling if element is not found

In [48]:
dict={}
for i in range(1):
    name=input("enter name")
    age=input("enter age")

    phone_number=input("enter the phone number")
    dict.update({name:"name",age:"age",phone_number:"phone_number"})
k=set(dict)
print(k)
data=int(input("enter the index module data you want to obtained"))

if data <=5:
    
        try:
            print(k)
        except: 
        
            print("data is not available")

{'jagadish', '15', '123'}